* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(53, 52, 52);
    /* background-color: #00ccccb7; */
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
}

h1,h2 {
    text-shadow: rgb(37, 37, 37) 0.1em 0.1em 0.4em;
    color: white;
}

.input-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
}

input{
    height: 2.2em;
    width: 100%;
    border-radius: 5px;
    padding-left: 5px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button{
    height: 3em;
    width: 100%;
    background-color: #df298d;
    border: none;
    color: white;
    margin-top: 1em;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    /* box-shadow: 3px 3px 3px #888888; */
}

button:hover {
    background-color: #dd489a;
}

 span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    font-weight: bold;
    color: white;
 }
